.cont {
  background-color: #1f1f1f;
  padding: 7rem 0;
}
.about {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textA {
  width: 43%;
}
.textA .ourabout {
  font-size: 45px;
  line-height: 60px;
  color: #c5a47e;
  margin-bottom: 1.5rem;
  font-weight: normal;
}
.textA p {
  font-size: 19px;
  color: #707070;
  margin-bottom: 1rem;
}
.textA span {
  font-size: 17px;
  color: #707070;
}
.btn {
  font-size: 18px;
  color: #c5a47e;
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border: 2px solid #c5a47e;
  padding: 0rem 1.5rem;
  border-radius: 50px;
  margin-top: 2rem;
}
.explore {
  margin: 0.7rem;
}
.iconb {
  font-size: 15px;
  margin-left: 0.5rem;
}
.img {
  width: 48%;
}
img {
  width: 100%;
}
.interior {
  display: flex;
  background-color: #272727;
}
.designer {
  width: 50%;
  padding: 5.5rem;
}
.designer h2 {
  font-size: 45px;
  color: #c5a47e;
  margin-bottom: 0.7rem;
}
.designer p {
  font-size: 18px;
  width: 85%;
  color: #707070;
  margin-bottom: 3.5rem;
}
.designer .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards .card {
  width: 48%;
  margin-bottom: 1rem;
}
.card .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}
.icon {
  font-size: 35px;
  color: #c5a47e;
}
.title h4 {
  font-size: 20px;
  color: #ababab;
}
.card .p-card {
  width: 90%;
  font-size: 15px;
  color: #707070;
  margin-bottom: 0;
}
.iabout {
  width: 60%;
}
img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .cont {
    padding: 2rem 0;
  }
  .about {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }
  .textA {
    width: 90%;
    text-align: center;
  }
  .textA .ourabout {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 1rem;
  }
  .textA p {
    font-size: 16px;
  }
  .textA span {
    font-size: 14px;
  }
  .btn {
    width: 65%;
    margin: auto;
    font-size: 15px;
    padding: 0.4rem 0.5rem;
    margin-top: 1.5rem;
  }
  .iconb {
    font-size: 13px;
  }
  .img {
    width: 100%;
    margin-top: 2rem;
    padding-left: 1rem;
  }
  .interior {
    flex-direction: column;
    padding-top: 1rem 0;
  }
  .designer {
    width: 95%;
    padding: 1rem;
  }
  .designer h2 {
    font-size: 25px;
    margin-bottom: 1rem;
  }
  .designer p {
    font-size: 15px;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .cards .card {
    width: 100%;
  }
  .card .title {
    display: block;
    flex-direction: column;
    margin-bottom: 0.8rem;
  }
  .icon {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  .title h4 {
    font-size: 16px;
  }
  .card .p-card {
    width: 100%;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
  .iabout {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .cont {
    padding: 2rem 0;
  }
  .about {
    width: 90%;
    margin: auto;
    flex-direction: column;
  }
  .textA {
    width: 100%;
    text-align: center;
  }
  .textA .ourabout {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 1.2rem;
  }
  .textA p {
    font-size: 18px;
    margin-bottom: 1.2rem;
  }
  .textA span {
    font-size: 14px;
  }
  .btn {
    width: 40%;
    margin: auto;
    font-size: 17px;
    padding: 0.6rem 1.1rem;
    margin-top: 2rem;
  }
  .iconb {
    font-size: 13px;
  }
  .img {
    width: 100%;
    margin-top: 3rem;
  }
  .interior {
    flex-direction: column;
    padding-top: 3rem;
  }
  .designer {
    width: 95%;
    padding: 1rem;
  }
  .designer h2 {
    font-size: 27px;
    margin-bottom: 1rem;
  }
  .designer p {
    font-size: 16px;
    width: 100%;
    margin-bottom: 3rem;
  }
  .cards .card {
    width: 100%;
  }
  .card .title {
    display: block;
    flex-direction: column;
    margin-bottom: 0.8rem;
  }
  .icon {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  .title h4 {
    font-size: 18px;
  }
  .card .p-card {
    width: 100%;
    font-size: 15px;
    margin-bottom: 2rem;
  }
  .iabout {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cont {
    padding: 3rem 0;
  }
  .about {
    width: 90%;
  }
  .textA {
    width: 45%;
  }
  .textA .ourabout {
    font-size: 27px;
    line-height: 40px;
  }
  .textA p {
    font-size: 17px;
  }
  .btn {
    font-size: 17px;
    padding: 0.5rem 1.3rem;
  }
  .interior {
    flex-direction: column;
    padding-top: 0rem;
  }
  .designer {
    width: 95%;
    margin: auto;
    padding: 1rem;
    padding-bottom: 1rem;
  }
  .designer h2 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .designer p {
    font-size: 15px;
    width: 100%;
    margin-bottom: 3rem;
  }
  .card .title {
    margin-bottom: 0.8rem;
  }
  .icon {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  .title h4 {
    font-size: 18px;
  }
  .card .p-card {
    width: 90%;
    font-size: 15px;
    margin-bottom: 2rem;
  }
  .iabout {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1240px) {
  .about {
    width: 90%;
  }
  .textA {
    width: 45%;
  }
  .textA .ourabout {
    font-size: 35px;
    line-height: 45px;
  }
  .designer {
    width: 50%;
    margin: auto;
    padding: 2rem;
  }
  .designer h2 {
    font-size: 38px;
    margin-bottom: 0.7rem;
    margin-top: 0;
  }
  .designer p {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .cards .card {
    width: 100%;
  }
  .card .title {
    gap: 2rem;
    margin-bottom: 0rem;
  }
  .icon {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  .title h4 {
    margin: 0;
  }
  .card .p-card {
    width: 90%;
    font-size: 15px;
    margin-bottom: 1.5rem;
  }
  .iabout {
    width: 70%;
  }
}
