.cont {
  background-color: #1f1f1f;
  padding: 7rem 0;
}
.blog {
  width: 75%;
  margin: auto;
}
.head {
  text-align: center;
}
.head h1 {
  color: #c5a47e;
  font-size: 35px;
  margin-bottom: 1.5rem;
}
.head p {
  width: 55%;
  margin: auto;
  font-size: 14px;
  color: #707070;
  margin-bottom: 4rem;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 31.5%;
}
.img {
  width: 100%;
}
img {
  width: 100%;
}
.card h3 {
  font-size: 16px;
  color: #c5a47e;
  margin: 0.6rem 0;
}
.card p {
  font-size: 14px;
  margin-bottom: 1.5rem;
  color: #707070;
}
.border {
  border: #313233 1px solid;
  margin-bottom: 1rem;
}
.card span {
  font-size: 11px;
  color: #707070;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .cont {
    padding: 2rem 0;
  }
  .blog {
    width: 90%;
  }
  .head h1 {
    font-size: 25px;
    margin-bottom: 1rem;
  }
  .head p {
    width: 95%;
    margin-bottom: 2rem;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .card h3 {
    font-size: 15px;
    margin: 0.6rem 0;
  }
  .card p {
    font-size: 13px;
    margin-bottom: 0.9rem;
  }
  .border {
    margin-bottom: 0.5rem;
  }
  .card span {
    font-size: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cont{
    padding: 3rem 0;
  }
  .blog {
    width: 95%;
  }
  .head p {
    width: 88%;
    margin-bottom: 3rem;
  }
  .card {
    width: 31%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1240px) {
  .cont{
    padding: 4.5rem 0;
  }
  .blog {
    width: 90%;
    margin: auto;
  }
  .head p {
    width: 66%;
    margin-bottom: 3rem;
  }
}
