.cont {
  background-color: #272727;
  padding: 7rem 0;
}
.client {
  width: 75%;
  margin: auto;
}
.head {
  text-align: center;
}
.head h1 {
  color: #c5a47e;
  font-size: 35px;
  margin-bottom: 1.5rem;
}
.head p {
  width: 55%;
  margin: auto;
  font-size: 15px;
  color: #707070;
  margin-bottom: 4rem;
}

.mySwiper {
  width: 100%;
  padding-bottom: 30px;
}
.mySwiper img {
  width: 100%;
  object-fit: contain;
}

/* Swiper pagination bullets */
.mySwiper .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
}
.mySwiper .swiper-pagination-bullet-active {
  background: #fff;
  transform: scale(1.12);
}

.hero {
  position: relative;
  width: 100%;
  height: 86vh;
  background-image: url("/src/assets/imgs/hero-bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  position: absolute;
  width: 32%;
  top: 50%;
  left: 29%;
  transform: translate(-50%, -50%);
}
.text h1 {
  font-size: 50px;
  color: #000;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 4.5rem;
  margin-bottom: 1.8rem;
}
.text p {
  font-size: 24px;
  color: #000;
  margin-bottom: 1.8rem;
}
.btn {
  font-size: 23px;
  color: white;
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border: none;
  padding: 1rem 1.7rem;
  border-radius: 50px;
  margin-bottom: 4.5rem;
}
.btn h6 {
  font-weight: bold;
  margin: 0;
}
.icon {
  font-size: 15px;
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .cont {
    padding: 1rem 0;
  }
  .client {
    width: 90%;
  }
  .head h1 {
    font-size: 25px;
  }
  .head p {
    width: 95%;
    margin-bottom: 2rem;
  }
  .hero {
    height: 52vh;
  }
  .text {
    position: static;
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    transform: none;
  }
  .text h1 {
    font-size: 23px;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .text p {
    font-size: 17px;
    margin-bottom: 1rem;
  }
  .btn {
    padding: 0rem 1.5rem;
    font-size: 16px;
    margin-bottom: 0rem;
  }
  .icon {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cont {
    padding: 2.5rem 0;
  }
  .head h1 {
    font-size: 30px;
    margin-bottom: 1.5rem;
  }
  .head p {
    width: 91%;
    font-size: 15px;
    margin-bottom: 3rem;
  }
  .hero {
    height: 70vh;
  }
  .text {
    position: static;
    width: 80%;
    padding-left: 2rem;
    padding-top: 5rem;
    transform: none;
  }
  .text h1 {
    font-size: 30px;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .text p {
    font-size: 17px;
    margin-bottom: 1rem;
  }
  .btn {
    padding: 0rem 1.5rem;
    font-size: 17px;
    margin-bottom: 0rem;
  }
  .icon {
    font-size: 15px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1240px) {
  .hero {
    height: 95vh;
  }
  .text {
    position: static;
    width: 53%;
    padding-left: 3rem;
    padding-top: 10rem;
    transform: none;
  }
  .text h1 {
    font-size: 45px;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
  }
  .text p {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .btn {
    padding: 0.6rem 2rem;
    font-size: 18px;
    margin-bottom: 0rem;
  }
  .btn h6{
    margin: 0;
  }
  .icon {
    font-size: 15px;
  }
  .mySwiper .swiper-pagination {
    display: none;
  }
}
