.cont {
  background-color: #272727;
  padding: 7rem 0;
}
.contact {
  width: 75%;
  margin: auto;
}
.title {
  font-size: 35px;
  color: #c5a47e;
  text-align: center;
  margin-bottom: 4rem;
}
.data {
  width: 86%;
  margin: auto;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 25%;
  text-align: center;
  color: #707070;
}
.icon i {
  color: #c5a47e;
  font-size: 35px;
  margin-bottom: 1.5rem;
}
.form {
  display: flex;
  justify-content: space-between;
}
.info {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info input {
  padding: 0.8rem 0;
  padding-left: 1rem;
}
.message {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.message textarea {
  padding: 1rem 0 4rem 1rem;
}
input::placeholder {
  font-size: 15px;
  opacity: 0.7;
}
textarea::placeholder {
  font-size: 16px;
  opacity: 0.7;
}
.message button {
  width: 25%;
  padding: 0.6rem 0;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #c5a47e;
  border: none;
  border-radius: 5px;
}

/* Responsive */
@media screen and (max-width: 576px) {
  .cont {
    padding: 1rem 0;
  }
  .contact {
    width: 90%;
  }
  .title {
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
  .data {
    width: 100%;
    margin-bottom: 2rem;
  }
  .card {
    width: 100%;
    margin-bottom: 1rem;
  }
  .card p {
    font-size: 14px;
  }
  .icon i {
    font-size: 25px;
    margin-bottom: 0rem;
  }
  .form {
    flex-direction: column;
  }
  .info {
    width: 100%;
    margin-bottom: 1rem;
  }
  .message {
    width: 100%;
  }
  .message textarea {
    padding: 1rem 0 4rem 1rem;
  }
  input::placeholder {
    font-size: 13px;
  }
  textarea::placeholder {
    font-size: 14px;
  }
  .message button {
    width: 40%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .cont {
    padding: 2rem 0;
  }
  .contact {
    width: 95%;
  }
  .title {
    font-size: 28px;
    margin-bottom: 2.5rem;
  }
  .data {
    width: 100%;
    margin-bottom: 2rem;
  }
  .card {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .card p {
    font-size: 15px;
  }
  .icon i {
    font-size: 30px;
    margin-bottom: 0rem;
  }
  .form {
    flex-direction: column;
  }
  .info {
    width: 100%;
    margin-bottom: 1rem;
  }
  .message {
    width: 100%;
  }
  .message textarea {
    padding: 1rem 0 4rem 1rem;
  }
  input::placeholder {
    font-size: 13px;
  }
  textarea::placeholder {
    font-size: 14px;
  }
  .message button {
    width: 23%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cont {
    padding: 3rem 0;
  }
  .contact {
    width: 95%;
  }
  .title {
    margin-bottom: 2.5rem;
  }
  .data {
    width: 100%;
  }
  .card {
    width: 30%;
  }
  input::placeholder {
    font-size: 14px;
  }
  textarea::placeholder {
    font-size: 15px;
  }
  .message button {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1240px) {
  .cont {
    padding: 4.5rem 0;
  }
  .contact {
    width: 90%;
  }
  .title {
    margin-bottom: 2.5rem;
  }
  .data {
    width: 85%;
  }
  .card {
    width: 30%;
  }
  .message button {
    width: 30%;
  }
}
