.slider {
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  animation: zoomFade 18s infinite;
}

.slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

@keyframes zoomFade {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.overlay {
  width: 100%;
  margin: auto;
}

.caption {
  width: 36%;
  margin-left: 13rem;
  display: flex;
  border: #9e8971 solid 5px;
  color: #fff;
  z-index: 3;
  padding: 3rem;
}

.text {
  padding-right: 5rem;
  line-height: 49px;
}

.text h2 {
  font-size: 40px;
  font-weight: 700;
}

.text button {
  font-size: 12px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 576px) {
  .slider{
    height: 55vh;
  }
  .slide {
    height: 73vh;
  }
  .overlay {
    width: 90%;
  }
  .caption {
    width: 100%;
    text-align: center;
    margin-left: 0rem;
    background-color: black;
    border: #6c5b47 solid 5px;
    padding: 0;
  }
  .text {
    padding: 1.8rem;
    line-height: 20px;
  }
  .text h2 {
    font-size: 20px;
  }
  .text button {
    font-size: 11px;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .slide {
    height: 85vh;
  }
  .overlay {
    width: 78%;
  }
  .caption {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding: 0;
  }
  .text {
    padding: 1.8rem;
    line-height: 35px;
  }
  .text h2 {
    font-size: 30px;
  }
  .text button {
    font-size: 11px;
    padding: 0.5rem 1.25rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .overlay {
    width: 100%;
  }
  .caption {
    width: 52%;
    margin-left: 1.5rem;
  }
  .text {
    line-height: 45px;
  }
  .text h2 {
    font-size: 37px;
  }
  .text button {
    font-size: 11px;
    padding: 0.6rem 1.25rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1240px) {
  .overlay {
    width: 100%;
  }
  .caption {
    width: 47%;
    margin-left: 2rem;
  }
  .text {
    line-height: 45px;
  }
  .text h2 {
    font-size: 37px;
  }
  .text button {
    font-size: 12px;
    padding: 0.6rem 1.25rem;
    margin-top: 1rem;
  }
}