.menu {
  display: none;
}
.Navbar {
  background-color: #272727;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav {
  width: 75%;
  margin: auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 12%;
}
.logo img {
  width: 100%;
}
.links {
  width: 63%;
  display: flex;
  justify-content: space-between;
}
.links a {
  text-decoration: none;
  color: #c5a47e;
  position: relative;
  padding: 0 12px;
}
.links a:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #353535;
  border-radius: 50%;
  margin-left: 12px;
}
.menu button {
  background: none;
  border: none;
  color: #c5a47e;
  cursor: pointer;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 576px) {
  .menu {
    display: block;
  }
  .nav {
    width: 95%;
    padding: 1rem 0;
  }
  .logo {
    width: 27%;
  }
  .links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
    text-align: center;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .links.visible {
    height: auto;
    opacity: 1;
    pointer-events: auto;
  }

  .links a {
    padding: 0.5rem 0;
    font-size: 16px;
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
  }
  .links a:not(:last-child)::after {
    display: none;
  }
  .menu button {
    font-size: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .menu {
    display: block;
  }
  .nav {
    width: 90%;
    padding: 1rem 0;
  }
  .logo {
    width: 22%;
  }
  .links {
    position: absolute;
    top: 100%;
    left: 20%;
    width: 60%;
    margin: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
    text-align: center;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .links.visible {
    height: auto;
    opacity: 1;
    padding: 0;
    pointer-events: auto;
  }

  .links a {
    padding: 1rem 0;
    font-size: 16px;
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
  }
  .links a:not(:last-child)::after {
    display: none;
  }
  .menu button {
    font-size: 25px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav {
    width: 88%;
    margin: auto;
    padding: 1.2rem 0;
  }
  .logo {
    width: 15%;
  }
  .logo img {
    width: 100%;
  }
  .links {
    width: 73%;
  }
  .links a {
    padding: 0 6px;
  }
  .links a:not(:last-child)::after {
    width: 5px;
    height: 5px;
    margin-left: 12px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1240px) {
  .nav {
    width: 80%;
    margin: auto;
    padding: 1.4rem 0;
  }
  .logo {
    width: 15%;
  }
  .logo img {
    width: 100%;
  }
  .links {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  .links a {
    padding: 0 6px;
  }
  .links a:not(:last-child)::after {
    width: 5px;
    height: 5px;
    margin-left: 12px;
  }
}